[tool.poetry]
name = "dicomgenerator"
version = "0.6.0"
description = ""
authors = ["sjoerdk <sjoerd.kerkstra@radboudumc.nl>"]
include = ["dicomgenerator/resources"]

[tool.poetry.dependencies]
python = "^3.8"
pydicom = "^2.3.0"
numpy = "^1.23.4"
Pillow = "^9.2.0"
factory-boy = "^3.2.1"
pytest-cov = "^4.0.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = True
envlist = py38, py39, py310
[gh-actions]
python =
    3.8: py38
    3.9: py39
    3.10: py310

[testenv]
whitelist_externals = poetry
commands =
    poetry install -v
    poetry run pytest --cov=tests/ --cov=dicomtrolley/
"""
